<div id="for-recruiters-wrap">
    <div id="for-recruiters-intro">
        <h3 id="fr-intro-title">For Recruiters</h3>
        <p id="fr-intro-text">
            Thanks for dropping by.<br>
            This is a page for the recruiters thinking I might be attractive thankfully,<br>
            but I clealy assert in advance this page is not a reflection of my immediate job transfer intention, and the possibility.<br>
            Written as of June 30 2020.
        </p>
    </div>
    <div id="fr-my-intro">
        <h3 id="fr-my-intro-title">My Short Introduction</h3>
        <p id="fr-my-intro-text">
            Wait I'm thinking..
        </p>
    </div>
    <div id="fr-what-i-want-to">
        <h3 id="fr-what-i-want-to-title">What I Want to Do in Your Org</h3>
        <p class="inner-text">
            - Front-end Development, Development and Renovation of Websites and Web Apps<br>
              -- JavaScript, TypeScript, Angular, NativeScript, WebGL, Contentful<br>
            - (Researching and) Writing Articles in Japanese, English<br>
            - Translation between Japanese and English<br><br>

            if I can or in the future<br>
            - UI/UX Design, Branding Consultation Process<br>
            - Back-end Development: Node.js, NestJS<br>
            - Blockchain, Smart Contract Development
        </p>
    </div>
    <div id="fr-values">
        <h3 id="fr-values-title">Values</h3>
        <p class="inner-text">
            - What I Care in Communication and Business<br>
              -- integrity, humor, transparency, long-term perspective, seriousness, balance, kindness<br>
            - What I Care in Interview Communication<br>
              -- Because of above such as integrity, transparency and the like, I communicate as always (at least I try).<br>
              Plus, I think it's a shame that just for the recruiting background the communication in interview and the possible relationships will be in vain.<br>
              We can be more open and flexible.
        </p>
    </div>
    <div id="fr-proof">
        <h3 id="fr-proof-title">Proof</h3>
        <p class="inner-text">
            Are you looking for my backgrounds right now?<br>
            - <a [routerLink]="'/creations'"><p style="margin-bottom: 0;">My Portfolios</p></a><br>
            - <a [routerLink]="'/creations/software'"><p>Software Portfolio</p></a><br>
              I don't have many projects I can open for now tho...<br>
            - <a href="https://github.com/aiinkiestism"  rel="noopener" target="_blank" class="me-sn-link">
                <div id="github-link">
                    <div class="sn-link-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px">
                        <image href="assets/github.svg" x="0" y="0" width="32px" height="32px" />
                        </svg>
                    </div>
                    <p id="github-link-text">Github</p>
                </div>
              </a><br>
            - Resume<br>
              If you need, please contact <a routerLink="/me"><p>me</p></a> somehow with your introduction and intention.
        </p>
    </div>
    <div id="conclu">
        <p class="inner-text">
            I'm waiting for the motivational jobs, places, values, missions!
        </p>
    </div>
</div>