<div id="for-clients-wrap">
    <div id="for-clients-intro">
        <h3 id="fc-intro-title">For Clients</h3>
        <p id="fc-intro-text">
            Thanks for dropping by.<br>
            This is a page for the possible clients trying to deal with jobs together.<br>
            However, I clealy assert in advance that this page is not a reflection of the availability of my time.<br>
            Written as of June 30 2020.
        </p>
    </div>
    <div id="fc-what-i-can">
        <h3 id="fc-what-i-can-title">What I Can</h3>
        <p class="inner-text">
            - Front-end Development, Development and Renovation of Websites and Web Apps<br>
              -- JavaScript, TypeScript, Angular, NativeScript, WebGL, Contentful, WordPress<br>
            - (Researching and) Writing Articles in Japanese, English<br>
            - Translation between Japanese and English
        </p>
    </div>
    <div id="fc-what-i-want-to">
        <h3 id="fc-what-i-want-to-title">What I Want to</h3>
        <p class="inner-text">
            Basically same as What I Can.<br><br>

            in the future<br>
            - UI/UX Design, Branding Consultation along with Front-end Development<br>
            - Back-end Development: Node.js, NestJS<br>
            - Blockchain, Smart Contract Development (not sure)
        </p>
    </div>
    <!-- <div id="other-wh">
        <div id="when">

        </div>
        <div id="where">

        </div>
        <div id="with-whom">

        </div>
    </div> -->
    <div id="fc-policy">
        <h3 id="fc-policy-title">Policy</h3>
        <p class="inner-text">
            - What I Care in Communication and Business<br>
              -- integrity, humor, transparency, long-term perspective, seriousness, balance, kindness<br>
            - Price<br>
              -- I would like to negotiate with transparency.<br>
            - Where<br>
              -- Remote or your office place.<br>
                 I would like to negotiate with transparency.<br>
            - With Whom<br>
            -- I would be happy if you think those above are important too.<br>
            -- If I can quote your project as my portfolio, that would be great!
        </p>
    </div>
    <div id="fc-proof">
        <h3 id="fc-proof-title">Proof</h3>
        <p class="inner-text">
            Are you being critical and looking for my proven backgrounds right now?<br>
            - <a [routerLink]="'/creations/software'"><p>Software Portfolio</p></a><br>
              I don't have many projects I can open for now tho...<br>
            - <a href="https://github.com/aiinkiestism"  rel="noopener" target="_blank" class="me-sn-link">
                <div id="github-link">
                    <div class="sn-link-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px">
                        <image href="assets/github.svg" x="0" y="0" width="32px" height="32px" />
                        </svg>
                    </div>
                    <p id="github-link-text">Github</p>
                </div>
              </a><br>
            - Resume<br>
              If you need, please contact <a routerLink="/me"><p>me</p></a> somehow with your introduction and intention.
        </p>
    </div>
    <div id="conclu">
        <p class="inner-text">
            All the above things are just about my preconditions that might include exceptions.<br>
            Please feel free to contact <a routerLink="/me"><p>me</p>.</a>
        </p>
    </div>
</div>