<div *ngFor="let post of posts">
  <div>
    <div>
      <a (click)="goToPost(post.sys.id)">
        <img src="{{ post.fields.image.fields.file.url }}" alt="thumbnail" width="196">
      </a>
    </div>
    <div>
      <a (click)="goToPost(post.sys.id)">
        <h5>
          {{ post.fields.title }}
        </h5>
      </a>
      <p><i>{{ post.fields.publishedAt }}</i></p>
      <p>{{ post.fields.description }}</p>
    </div>
  </div>
  <button (click)="goToPost(post.sys.id)">Read</button>
</div>
