<div id="blog-wrap">
  <div *ngFor="let post of posts" class="bg-outer" (mouseenter)="showDates($event)" (mouseleave)="hideDates($event)">
    <div class="blog-post-wrap">
      <div class="bg-inner">
        <div (click)="goToPost(post.fields.slug)" class="bg-inner-inner">
          <div class="post-img-wrap">
            <a (click)="goToPost(post.fields.slug)">
              <img src="{{ post.fields.image.fields.file.url }}" alt="thumbnail" width="196">
            </a>
          </div>
        </div>
      </div>
      <p class="published-at"><i>{{ post.fields.publishedAt }}</i></p>
      <div class="blog-post-bottom">
        <a (click)="goToPost(post.fields.slug)" class="blog-post-title">
          <h3>{{ post.fields.title }}</h3>
        </a>
        <br>
        <div *ngFor="let category of post.fields.category" class="blog-post-categories">
          <a (click)="goToCategory(category.fields.slug)" class="blog-cate-link">
            <p>{{ category.fields.name }}</p>
          </a>
        </div>
        <!-- <p>{{ post.fields.description }}</p> -->
      </div>
    </div>
  </div>
</div>
