#intro-canvas {
    overflow: hidden;
    max-height: 1000px;
    // margin-top: -7.1%;
    margin-top: -22.1%;
}


@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
  #intro-canvas {
    // margin-top: -10.3%;
    margin-top: -33.3%;
  }
}
