<div id="me-wrap">
  <div id="me-top-wrap">
    <div class="bg-outer">
      <div class="bg-inner">
        <div class="img-wrap">
          <img src="assets/logo.png" alt="logo image">
        </div>
      </div>
    </div>
    <div id="top-text">
      <p>Hashmimic is a Japanese multi-creator.</p>
    </div>
  </div>
  <div id="me-pl-wrap">
    <h3 id="pl-title">Personal Links</h3>
    <div id="pl-wrap">
      <a href="https://twitter.com/hashmimic"  rel="noopener" target="_blank" class="me-sn-link">
        <div class="sn-link-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
            <image href="assets/twitter.svg" x="0" y="0" width="48px" height="48px" />
          </svg>
        </div>
      </a>
      <a href="https://note.com/aiinkiestism"  rel="noopener" target="_blank" class="me-sn-link">
        <div class="sn-link-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
            <image href="assets/note.svg" x="0" y="0" width="48px" height="48px" />
          </svg>
        </div>
      </a>
      <a href="https://github.com/aiinkiestism"  rel="noopener" target="_blank" class="me-sn-link">
        <div class="sn-link-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
            <image href="assets/github2.svg" x="0" y="0" width="48px" height="48px" />
          </svg>
        </div>
      </a>
      <!-- <a href="https://twitter.com/hashmimic"  rel="noopener" target="_blank" class="me-sn-link">
        <div class="sn-link-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
            <image href="assets/spotify.svg" x="0" y="0" width="48px" height="48px" />
          </svg>
        </div>
      </a>
      <a href="https://twitter.com/hashmimic"  rel="noopener" target="_blank" class="me-sn-link">
        <div class="sn-link-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
            <image href="assets/youtube.svg" x="0" y="0" width="48px" height="48px" />
          </svg>
        </div>
      </a>
      <a href="https://twitter.com/hashmimic"  rel="noopener" target="_blank" class="me-sn-link">
        <div class="sn-link-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
            <image href="assets/twitter.svg" x="0" y="0" width="48px" height="48px" />
          </svg>
        </div>
      </a>
      <a href="https://twitter.com/hashmimic"  rel="noopener" target="_blank" class="me-sn-link">
        <div class="sn-link-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
            <image href="assets/twitter.svg" x="0" y="0" width="48px" height="48px" />
          </svg>
        </div>
      </a>
      <a href="https://twitter.com/hashmimic"  rel="noopener" target="_blank" class="me-sn-link">
        <div class="sn-link-inner">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
            <image href="assets/twitter.svg" x="0" y="0" width="48px" height="48px" />
          </svg>
        </div>
      </a> -->
    </div>
  </div>
  <div id="for-wraps">
    <div id="for-clients" class="on-scroll">
      <h3 id="for-clients-title">For Clients</h3>
      <p id="for-clients-text">
        If you're the possible clients trying to deal with jobs together,<br>
        pleease see the link below.
      </p>
      <a [routerLink]="'/me/for-clients'" style="margin-right: 3%;"><p>For Clients</p></a>
      <a [routerLink]="'/me/for-ja-clients'"><p>For Japanese Clients</p></a>
    </div>
    <div id="for-recruiters">
      <h3 id="for-recruiters-title">For Recruiters</h3>
      <p id="for-recruiters-text">
        If you're recruiting and thinking I might be a suitable, attractive person,<br>
        please see the link below.
      </p>
      <a [routerLink]="'/me/for-recruiters'" style="margin-right: 3%;"><p>For Recruiters</p></a>
      <a [routerLink]="'/me/for-ja-recruiters'"><p>For Japanese Recruiters</p></a>
    </div>
    <div id="for-others">
      <h3 id="for-others-title">For Others</h3>
      <p id="for-others-text">If you would like to contact me, send me a message somewhare, somehow.<br>
        I deeply care humor, integrity, seriousness, long-term perspective.</p>
    </div>
  </div>
  <!-- <div id="bg-wraps">
    <div id="academic-bg">

    </div>
    <div id="career-bg">

    </div>
  </div> -->
  <div id="others-wrap">
    <div id="press-kit-wrap" class="on-scroll">
      <h3 id="press-kit-title">Press Kit</h3>
      <p id="press-kit-text">If you and I are closely related feel free to use
        <br>but if not, please say hello and some words to me somewhere.
      </p>
      <div class="imgs-wrap">
        <mat-card>
          <img mat-card-image src="assets/logo.svg" alt="logo image">
          <mat-card-actions>
            <a mat-button download href="assets/logo.svg">
              <mat-icon>save_alt</mat-icon>
              <span>SVG</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
