<!-- <div id="loading">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="300px" height="300px" version="1.1">
    <image href="assets/logo.svg" x="0" y="0" width="300px" height="300px" />
  </svg>
</div> -->
<header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="mat-elevation-z16 sidenav">
      <mat-nav-list></mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" id="sidenav-content">
      <mat-toolbar class="mat-elevation-z4 toolbar">
        <button mat-icon-button [routerLink]="'/'">
          <!-- <img src="assets/logo.svg" alt="header logo" class="header-logo"> -->
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px">
            <image href="assets/logo.svg" x="0" y="0" width="40px" height="40px" />
          </svg>
        </button>
        <a [routerLink]="'/'"><h1>{{ title }}</h1></a>
        <span fxFlex="1 1 auto"></span>
        <a mat-button [routerLink]="'/'">
          <span>Home</span>
        </a>
        <a mat-button [routerLink]="'/creations'">
          <span>Creations</span>
        </a>

      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</header>

<main>
<router-outlet></router-outlet>
</main>

<footer>

</footer>
