<div id="for-ja-clients-wrap">
    <div id="for-clients-intro">
        <h3 id="fc-intro-title">For Japanese Clients</h3>
        <p id="fc-intro-text">
            サイトを訪れていただきありがとうございます。<br>
            こちらのページはお仕事をご依頼いただく方向けのページですが、<br>
            ご依頼する全てのものに対処可能なリソースを有していることを保証するものではありません。<br>
            2020年10月25日に最終更新されました。
        </p>
    </div>
    <div id="fc-what-i-can">
        <h3 id="fc-what-i-can-title">What I Can</h3>
        <p class="inner-text">
            - フロントエンド開発、WebサイトやWebアプリの開発、改修<br>
              -- JavaScript, TypeScript, Angular, WebGL, Flutter Web, Contentful<br>
            - Flutterでのクロスプラットフォーム開発<br>
              -- モバイルアプリ、Webアプリ、デスクトップアプリ<br>
            - 日本語、英語でのリサーチ、記事執筆<br>
            - 日英間の翻訳
        </p>
    </div>
    <div id="fc-what-i-want-to">
        <h3 id="fc-what-i-want-to-title">What I Want to</h3>
        <p class="inner-text">
            基本的には上の私ができることに書いてあるものと同じです。<br><br>

            将来的には以下も対応するつもりです。<br>
            - UI/UXデザイン、ブランディング<br>
            - Node.js、NestJS、Golangでのバックエンド開発<br>
            - Ionic, NativeScriptでのモバイルアプリ開発<br>
            - ブロックチェーン、スマートコントラクト開発（未定）
        </p>
    </div>
    <!-- <div id="other-wh">
        <div id="when">

        </div>
        <div id="where">

        </div>
        <div id="with-whom">

        </div>
    </div> -->
    <div id="fc-policy">
        <h3 id="fc-policy-title">Policy</h3>
        <p class="inner-text">
            - お仕事やコミュニケーションにおいて意識していること<br>
              -- 誠実さ、ユーモア、透明性、長期的視点、真剣さ、バランス、親切さ、丁寧さ、熱意、高い問題解決意識、ニュアンス<br>
            - 価格<br>
              -- お互い腹をわってお話できたらと思います。<br>
            - 勤務地<br>
              -- リモートもしくは御社オフィス<br>
                 これについても腹をわってお話できたらと思います。<br>
            - 誰と働きたいか<br>
            -- 上記を同じく大切にする方であればとても幸せです。<br>
            -- 関わらせていただくお仕事内容をポートフォリオとして掲載可能であると嬉しいです。
        </p>
    </div>
    <div id="fc-proof">
        <h3 id="fc-proof-title">Proof</h3>
        <p class="inner-text">
            実績や経歴など定量性、Factを現在意識されている方へ<br>
            - <a [routerLink]="'/creations/software'"><p>Software Portfolio</p></a><br>
              現在公開可能なポートフォリオはあまりありませんが...<br><br>
            - <a href="https://stackshare.io/aiinkiestism/my-stack" rel="noopener" target="_blank"><p style="margin: 8px 0;">My Tech Stack</p></a><br>
            - <a href="https://github.com/aiinkiestism"  rel="noopener" target="_blank" class="me-sn-link">
                <div id="github-link">
                    <div class="sn-link-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px">
                        <image href="assets/github.svg" x="0" y="0" width="32px" height="32px" />
                        </svg>
                    </div>
                    <p id="github-link-text">Github</p>
                </div>
              </a><br>
            - レジュメ<br>
              もし必要であれば、簡単な自己紹介とご意向を添えて<a routerLink="/me"><p>私</p></a>にご連絡をください。
        </p>
    </div>
    <div id="conclu">
        <p class="inner-text">
            上記全て私個人の前提条件であり、例外も含んでいるかもしれません。<br>
            軽いご相談であれお気軽に<a routerLink="/me"><p>私</p></a>にご連絡をください。お待ちしています！
        </p>
    </div>
</div>