<div id="for-ja-recruiters-wrap">
    <div id="for-recruiters-intro">
        <h3 id="fr-intro-title">For Japanese Recruiters</h3>
        <p id="fr-intro-text">
            サイトを訪れていただきありがとうございます。<br>
            こちらのページは、嬉しいことですが私の採用を検討している方向けのページです。<br>
            とはいえ即座の転職可能性、転職意思を示すものではありません。<br>
            2020年6月30日に最終更新されました。
        </p>
    </div>
    <div id="fr-my-intro">
        <h3 id="fr-my-intro-title">My Short Introduction</h3>
        <p id="fr-my-intro-text">
            こちらの文言は考え中です..
        </p>
    </div>
    <div id="fr-what-i-want-to">
        <h3 id="fr-what-i-want-to-title">What I Can and Want to Do in Your Org</h3>
        <p class="inner-text">
            - フロントエンド開発、WebサイトやWebアプリの開発、改修<br>
              -- JavaScript, TypeScript, Angular, NativeScript, WebGL, Contentful<br>
            - 日本語、英語でのリサーチ、記事執筆<br>
            - 日英間の翻訳<br><br>

            可能であれば、あるいは将来的には..<br>
            - UI/UXデザイン、ブランディングコンサルのプロセス<br>
            - Node.js、NestJS、Golangでのバックエンド開発<br>
            - Flutter, Ionic, NativeScriptでのネイティブアプリ開発<br>
            - ブロックチェーン、スマートコントラクト開発
        </p>
    </div>
    <div id="fr-values">
        <h3 id="fr-values-title">Values</h3>
        <p class="inner-text">
            - お仕事やコミュニケーションにおいて意識していること<br>
              -- 誠実さ、ユーモア、透明性、長期的視点、真剣さ、バランス、親切さ、丁寧さ、熱意<br>
            - 採用時のコミュニケーションで気にしていること<br>
              -- 誠実さや透明性など、以上のようなことから普段通りのコミュニケーションを心がけています。<br>
              加えて、採用に関する利害関係からそこでのコミュニケーションやその後の人間関係が形式的であるのはとても歯がゆく思っています。<br>
              私達人間はよりオープンに、フレキシブルにいることができると信じています。
        </p>
    </div>
    <div id="fr-proof">
        <h3 id="fr-proof-title">Proof</h3>
        <p class="inner-text">
            バックグラウンドの情報を欲されている方へ<br>
            - <a [routerLink]="'/creations'"><p style="margin-bottom: 0;">My Portfolios</p></a><br>
            - <a [routerLink]="'/creations/software'"><p>Software Portfolio</p></a><br>
              現在公開可能なポートフォリオはあまりありませんが...<br>
            - <a href="https://github.com/aiinkiestism"  rel="noopener" target="_blank" class="me-sn-link">
                <div id="github-link">
                    <div class="sn-link-inner">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px">
                        <image href="assets/github.svg" x="0" y="0" width="32px" height="32px" />
                        </svg>
                    </div>
                    <p id="github-link-text">Github</p>
                </div>
              </a><br>
            - レジュメ<br>
            もし必要であれば、簡単な自己紹介とご意向を添えて<a routerLink="/me"><p>私</p></a>にご連絡をください。
        </p>
    </div>
    <div id="conclu">
        <p class="inner-text">
            よりモチベーションの湧くお仕事、環境、バリュー、ミッションなどをお待ちしています！
        </p>
    </div>
</div>