@import "./hamburgers.css";

// @media (max-width: 1199.98px) {

// }

// @media (max-width: 991.98px) {

// }

// @media (max-width: 767.98px) {

// }

#sp-me-toggle {
  display: none;
}

@media (max-width: 575.98px) {
  #sp-me-toggle {
    display: block;
    display: inline-block;
    cursor: pointer;
    // position: fixed;
    position: absolute;
    z-index: 1000;
    top: 21%;
    right: 5%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 0;
    // background: #fff;
    box-shadow: 0px 4px 24px rgba(#000, 0.24);
    line-height: 0.6;
    text-align: center;
    .hamburger {
      position: relative;
      z-index: 1000;
      .hamburger-box {
        .hamburger-inner {
          background: #fff;
          &:before {
            background: #fff;
          }
          &:after {
            background: #fff;
          }
        }
      }
    }
    #menu-bg {
      display: block;
      position: fixed;
      top: -19px;
      right: -32px;
      z-index: 999;
      width: 118vw;
      height: 118vh;
      background: rgba(255, 255, 255, 0.9);
      transition: all 500ms ease-in-out;
      visibility: hidden;
      // clip-path: circle(30px at calc(100% - 65px) 65px);
      clip-path: circle(0px at calc(100% - 65px) 65px);
    }
    #sp-me-menu {
      .inner {
        li {
          #sp-me {
            .sn-link {
              .sn-link-inner {
                svg {
                  image {

                  }
                }
              }
            }
          }
        }
      }
    }
    .me-active {
      visibility: visible !important;
      clip-path: circle(100%) !important;
      background: none;
    }
  }
}
