<div id="sp-me-toggle">
  <button class="hamburger hamburger--collapse-r" id="hamburger" type="button" (click)="onSpMe()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div id="menu-bg">
    <div id="inner-wrap">
      <nav id="sp-me-menu">
        <ul class="inner">
          <li>
            <a routerLink="/creations" (click)="onSpMe()">Creations</a>
          </li>
          <li>
            <a routerLink="/me" (click)="onSpMe()">Me</a>
            <!-- <div id="sp-me"> -->
              <!-- <a href="https://twitter.com/hashmimic" target="_blank" class="sn-link">
                <div class="sn-link-inner">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
                    <image href="assets/twitter.svg" x="0" y="0" width="48px" height="48px" />
                  </svg>
                </div>
              </a>
              <a href="https://note.com/aiinkiestism" target="_blank" class="sn-link">
                <div class="sn-link-inner">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
                    <image href="assets/note.svg" x="0" y="0" width="48px" height="48px" />
                  </svg>
                </div>
              </a>
              <a href="https://github.com/aiinkiestism" target="_blank" class="sn-link">
                <div class="sn-link-inner">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
                    <image href="assets/github2.svg" x="0" y="0" width="48px" height="48px" />
                  </svg>
                </div>
              </a> -->
              <!-- <a href="" target="_blank" class="sn-link">
                <div class="sn-link-inner">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
                    <image href="assets/spotify.svg" x="0" y="0" width="48px" height="48px" />
                  </svg>
                </div>
              </a>
              <a href="" target="_blank" class="sn-link">
                <div class="sn-link-inner">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48px" height="48px">
                    <image href="assets/youtube.svg" x="0" y="0" width="48px" height="48px" />
                  </svg>
                </div>
              </a> -->
            <!-- </div> -->
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
