#creations-wrap {
  margin-top: -10%;
  padding: 0 23%;
  // padding-bottom: 4%;
  position: relative;
  z-index: 1500;
  .inner-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11%;
    %wrap-shared {
      width: 40%;
      text-align: center;
      height: 190px;
      &:hover {
        transform: scale(1.1);
        transition-timing-function: ease-out;
        transition-duration: .8s;
      }
      .wrap-box {
        width: 100%;
        height: 100%;
        background: rgba(31, 86, 251, 0.2);
        display: table;
        .inner-wrap {
          display: table-cell;
          vertical-align: middle;
          .bg-wrap {
            width: 88%;
            height: 88%;
            background: url("./../../assets/box-bg.svg") no-repeat;
            background-size: 77%;
            background-position: center;
            position: relative;
            margin: auto;
            .inner-box {
              width: 74%;
              height: 72%;
              margin: auto;
              background: rgba(31, 86, 251, 0.2);
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              .title-wrap {
                width: 100%;
                height: 100%;
                display: table;
                .creations-title {
                  display: table-cell;
                  vertical-align: middle;
                  font-size: 35px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    #blog-wrap {
      @extend %wrap-shared;
    }
    #music-wrap {
      @extend %wrap-shared;
    }
    #software-wrap {
      @extend %wrap-shared;
    }
    #business-wrap {
      @extend %wrap-shared;
    }
  }
}

@media (max-width: 1400px) {
  #creations-wrap {
    // padding-bottom: 40%;
  }
}

@media (max-width: 1199.98px) {
  #creations-wrap {
    // padding: 10% 15% 52%;
    padding: 3% 15% 0;
  }
}

@media (max-width: 1000px) {
  #creations-wrap {

  }
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
  #creations-wrap {
    padding: 10% 7% 0;
    .inner-wrap {
      // justify-content: space-evenly;
      %wrap-shared {
        // width: 43%;
        width: 45%;
        .wrap-box {
          .inner-wrap {
            .bg-wrap {
              width: 95%;
              height: 91%;
              background: url("./../../assets/sp-box-bg.svg") no-repeat;
              background-position: center;
              .inner-box {
                width: 76%;
                height: 66%;
              }
            }
          }
        }
      }
    }
  }
}
