<div id="creations-wrap">

  <div class="inner-wrap">
    <div id="blog-wrap" (mousemove)="onSkew($event)" (mouseleave)="offSkew($event)">
      <a [routerLink]="'/creations/blog'">
        <div class="wrap-box">
          <div class="inner-wrap">
            <div class="bg-wrap">
              <div class="inner-box">
                <div class="title-wrap">
                  <h3 class="creations-title">
                    Blog
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div id="music-wrap" (mousemove)="onSkew($event)" (mouseleave)="offSkew($event)">
      <a [routerLink]="'/creations/music'">
        <div class="wrap-box">
          <div class="inner-wrap">
            <div class="bg-wrap">
              <div class="inner-box">
                <div class="title-wrap">
                  <h3 class="creations-title">
                    Music
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="inner-wrap">
    <div id="software-wrap" (mousemove)="onSkew($event)" (mouseleave)="offSkew($event)">
      <a [routerLink]="'/creations/software'">
        <div class="wrap-box">
          <div class="inner-wrap">
            <div class="bg-wrap">
              <div class="inner-box">
                <div class="title-wrap">
                  <h3 class="creations-title">
                    Software
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div id="business-wrap" (mousemove)="onSkew($event)" (mouseleave)="offSkew($event)">
      <a [routerLink]="'/creations/business'">
        <div class="wrap-box">
          <div class="inner-wrap">
            <div class="bg-wrap">
              <div class="inner-box">
                <div class="title-wrap">
                  <h3 class="creations-title">
                    Business
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- <div class="inner-wrap">
    <div id="calligraphy-wrap" (mousemove)="onSkew($event)" (mouseleave)="offSkew($event)">
      <a [routerLink]="'/creations/calligraphy'">
        <div class="wrap-box">
          <div class="inner-box">
            <h3 class="creations-title">
              Calligraphy
            </h3>
          </div>
        </div>
      </a>
    </div>
  </div> -->

</div>
