app-typed-title {
  position: absolute;
  top: 24%;
  left: 26%;
  z-index: 8000;
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
  app-typed-title {
    top: 13%;
    left: 17%;
  }
}
